.big-raiting-container {
  display: flex;
   width: 50%;
  border: 7px red solid;
}

img {
/* width: auto; */
width: 100%;
}
div {
display: block;
width: 100%;
}
.pIMG{
height: 400px;
/* width: 400px; */
}

.raiting-container img {
 display: flex;
  /* width: 30%; */
 border: 7px blue solid;
}
