.big-raiting-container {
  display: flex;
  width: 50%;
}

img {
  width: 100%;
}
.not-div {
  display: block;
  width: 100%;
}
.pIMG {
  height: 400px;
}

.raiting-container img {
  width: 60%;
}
.raiting-container {
  height: 80vh;
  margin-top: 10%;
}
