.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: block;
    width: 150px;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    margin: auto;
    font-size: 18px;
    color: #ffffff;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(#407745, 0.3);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(#407745, 0.3);
  }

  &::after {
    background-color: #407745;
    content: '';
    // display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &__animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}
